<%- include("./partials/header") %>

<form action="/login" method="POST" class="ui form">
    <div class="ui container">
        <div class="field">
            <label for="Username">Username</label>
            <input type="text" id="Username" placeholder="Username" name="username"  class="validate">
        </div>
        <div class="field">
            <label for="Password">Password</label>
            <input type="password" id="Password" placeholder="Password" name="password"  class="validate">
        </div>
        <button class="ui basic fluid blue button">Login</button>
    </div>
</form>
<%- include("./partials/footer") %>