<%- include("./partials/header") %>
<h3 style="text-align: center;">All Request Here</h3>
<div class="ui text container">
    <div class="ui middle  aligned animated list">
        <% request.forEach(function(user){ %>
            <div class="ui segment">
                <div class="item">
                    <div class="content">
                        <div class="header">
                            <a href="/user/<%= user.sender.id %>" ><h2><%= user.susername %></h2></a>
                        </div>
                    </div>
                </div>
            </div>
        <% });%>
    </div>
</div>
<%- include("./partials/footer") %>